.amazon-link {
    color: rgb(0, 113, 133);
  }

  .nike{
    font-weight: bold;
    font-size: 30px;
  }

  .instock{
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 20px;
  }

  .free{
    font-size: 20px;
  }

  .add-to-cart-button {
    background-color: rgb(249, 217, 76);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
  }

  .buy-now-button {
    background-color: rgb(255, 164, 28);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
  }